body {
    background: none;
}

.panel-pers {
    border: 3px solid black;
    border-radius: 4px;
    margin: 25%;
    margin-left: 35%;
    width: 35%;
    background-color: white;
}

.input-login {
    margin: 8%;
    width: 85%;
}

#btn-login {
    margin-left: 25%;
    margin-bottom: 5%;
}